@import "tailwindcss";

@font-face {
  font-family: 'FKGroteskNeue-Regular';
  src: url('/fonts/FKGroteskNeue-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Improves loading performance */
}

@font-face {
  font-family: 'Morganite';
  src: url('/fonts/Morganite-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Improves loading performance */
}

html {
  scroll-behavior: smooth;
}

*{
  font-family: 'FKGroteskNeue-Regular';
  overscroll-behavior: none;
}

.logo{
    font-family: 'Morganite';
}

:root {
  --white: #FFFFFF;
  --dark-green: #2F4F4F;
  --main-bg: #161616;
  --forest-green: #4A7043;
  --light-green: #E8F0E8;
}

*

.bg-dark-green {
  background-color: var(--dark-green);
}


.bg-main-bg {
  background-color: var(--main-bg);
}


@media (max-width: 768px){

  .navLinks{
    position: absolute;
    left:  0;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: red;
    z-index: 3;
  }


  .navActive{
    /* background-color: ; */
  }



}




